body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #70AD47;
}
#loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* color: #70AD47; */
    font-size: 30px;
}
